.styled_table {
   border-collapse: collapse;
   margin: 15px 0;
   font-size: .9em;
   min-width: 350px;
   box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.styled_table thead tr {
   background-color: #009879;
   color: #fff;
   text-align: center;
}

.styled_table th,
.styled_table td {
   padding: 12px 15px;
}

.styled_table th:first-child {
   border-top-left-radius: 10px;
}

.styled_table th:last-child {
   border-top-right-radius: 10px;
}

.styled_table tbody tr {
   border-bottom: 1px solid #ddd;
}

.styled_table tbody tr:nth-of-type(even) {
   background-color: #f3f3f3;
}

.styled_table tbody tr:last-of-type {
   border-bottom: 2px solid #009879;
}

.styled_table tbody tr:hover {
   font-weight: bold;
   color: #009879;
}

.icons_container {
   display: flex;
   justify-content: flex-end;
}

.icons_container button {
   padding: 0;
   margin: 0 5px;
   width: 18px;
   height: 18px;
   cursor: pointer;
   border: none;
   border-radius: 100%;
   background-color: transparent;
}

.icons_container button:hover {
   background-color: #ddd;
}

.red {
   color: red;
}

.blue {
   color: blue;
}

.noInfo {
   text-align: center;
   padding: 10px;
}
