.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.login_container {
  width: 50%;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.title {
  font-size: 40px;
  margin: 20px 0;
}

.form {
  width: 100%;
}

.input_container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.input_container input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: .8em 1em;
  margin-bottom: 1em;
}

.input_container label {
  margin-bottom: 0.5em;
}

.button_container {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.btn {
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
  margin: 15px 10px 0 0;
}

.green {
  background-color: #009879;
}

.gray {
  background-color: #777;
}