.home_container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.title {
   margin: 20px 0;
   font-size: 40px;
}

.btn {
   background-color: #1a8918;
   color: #fff;
   text-align: center;
   cursor: pointer;
   border-radius: 30px;
   font-weight: bold;
   border: none;
   padding: 10px 30px;
   font-size: 1em;
   margin-top: 20px;
 }