.user_container {
   display: flex;
   flex-direction: column;
   width: 60%;
}

.users_title {
   margin: 20px 0;
   font-size: 40px;
   text-align: center;
}

.btn {
   background-color: #009879;
   color: #fff;
   text-align: center;
   cursor: pointer;
   border-radius: 10px;
   font-weight: bold;
   border: none;
   padding: 10px;
   font-size: 1em;
   width: 130px;
   margin-top: 30px;
}